body {
	text-align: center;
}
.parallaxEffect {
	position : relative;
	text-indent : -9999px;
	background-attachment : fixed;
	background-position   : top center;
	background-size       : cover;
	box-shadow : inset 0 0 1em #111;
	height : 70vh;
}
#smart_and_pretty {
	padding: 50px 0 0 0;
}
.about-page-heading {
	font-family: 'Kaushan Script', cursive;
}
.about-page-descriptive {
	font-family: 'Oxygen', sans-serif;
}
.description-person-name {
	font-family: 'Great Vibes', cursive;
	font-size: 2em;
}
.description-person-position {
	font-family: 'Kaushan Script', cursive;
}
