.timer table {
width: 100%;
text-align: center;
margin: 0px 30px;
}
.timer tr.countdown {
list-style: none;
margin: 10px 0px;
padding: 0;
display: block;
text-align: center;
color: #1c73a5;
}
.timer tr.countdown td span {
font-size: 30px;
font-weight: 300;
line-height: 30px;
}
.timer tr.countdown td p {
color: #a7abb1;
font-size: 12px;
padding: 0px 20px;
}