.landing-page-nav {
    background: #31353d !important;
    color: #fff !important; 
}
.landing-page-nav .navbar-brand {
    color: #ff6138 !important;
    font-family: 'Lato', sans-serif;
}
.landing-page-nav .nav li a {
    color: #fff !important;
    font-weight: 100;
}
.landing-page-nav .nav li:hover {
    background: #ff6138 !important;
}

.landing-page-nav .navbar-default .navbar-collapse {
    border-color: #ff6138;
    text-align: center;
}

.landing-page-nav .navbar-default .navbar-toggle {
    border-color: #ff6138 !important;
}

.landing-page-nav .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.landing-page-nav .navbar-default .navbar-toggle:hover {
    background-color: #ff6138 !important;
}

.landing-page-nav .navbar-default .navbar-toggle:focus {
    background-color: #ff6138 !important;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    transform: translateX(-50%) translateY(-50%);
    background: url({'./app/videos/teaser.png'}) no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

#content {
    background: transparent !important;
}
