.appear-enter {
    transition-duration: .7s;
    transition-style: preserve-3d;
    transform: rotateY(0deg);

}
.appear-enter.appear-enter-active {
    transform: rotateY(180deg);
}
.appear-leave {
    transform: rotateY(0deg);
}
